* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 400;
    color: #999999;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

.btn-submit {
    border-radius: 3px;
    border: 1px solid #008ed6;
    background-color: #008ed6;

    width: 10rem;
    height: 3rem;
    line-height: 3rem;

    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.btn-submit:hover {
    background-color: #ffffff;
    color: #008ed6;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 83.5%;
    /* max-width: 1188px; */
    max-width: 1171px;
    margin: 0 auto;
    /* padding-left: 1.1rem; */
}

/* end common */


/* ------------------- */
/* nav section*/
/* ------------------- */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-height: 6.0625rem;
}

.header-flex {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;

    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.logo-decor {
    display: inline-block;
    margin-left: 0.5625rem;

    font-size: 0.5625rem;
    line-height: 1.11;
    font-weight: 400;
    color: #999999;
    text-align: left;
}

.header-navigation-list {
    /* delete word spacing between inline-blocks */
    font-size: 0;
}

.header-navigation-list li {
    display: inline-block;
}

.header-navigation-list li+li {
    margin-left: 1.45rem;
}

.header-navigation-list li a {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.header-navigation-list li a:hover::after {
    position: absolute;
    top: 1.75rem;
    content: "";
    display : block;
    height: 2px;
    width: 100%;
    background-image: repeating-linear-gradient(to right, #008ed6 0%, #008ed6 46%, transparent 46%, transparent 54%,  #008ed6 54%, #008ed6 100%);
}

/* ------------------- */
/* home section*/
/* ------------------- */

.home-background-wrapper {
    background: #40392D url(123.png) center no-repeat;
    background-size: cover;  
}

.home-container {
    display: flex;
}

h1 {
    font-size: 3rem;
    line-height: 1.0625;
    font-weight: 600;
    color: #ffffff;
}

h1 span {
    display: block;
    margin-bottom: 1.375rem;

    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #008ed6;
}

.home-content-wrapper {
    flex-basis: 50%;
    /* padding: 156px 80px 109px 0; */
    padding: 13.5% 8% 9.5% 0;
}

.home-img-wrapper {
    position: relative;
    flex-basis: 50%;
}

.home-img-wrapper img {
    position: absolute;
    bottom: 0;
    right: -13px;

    width: 505px;
}

.home-content-wrapper p {
    /* margin-bottom: 60px; */
    /* padding-top: 21px; */
    margin-bottom: 4rem;
    padding-top: 1.2rem;
}

/* ATTANTION!!!: transparent button is a LINK */

.link {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #999999;

    /* width: 155px;
    height: 49px; */
    width: 10rem;
    height: 3rem;
    line-height: 3rem;

    font-size: 0.875rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

a[download] {
    border: 1px solid #008ed6;
    background-color: #008ed6;
}

.link + .link  {
    margin-left: 1.125rem;
}

/* ------------------- */
/* features section */
/* ------------------- */

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #1a1a1a;
    text-align: center;
}

h2 span {
    display: block;
    padding-bottom: 0.5rem;

    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #008ed6;
    text-transform: uppercase;
}

h2::after {
    content: "——";
    display : block;
    /* padding-top: 13px; */
    padding-top: 0.8rem;
    text-align : center;
    font-size : 1.7rem;
    margin : 0 auto;
    color: #008ed6;
}

.features-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* margin-top: 58px;
    margin-bottom: 31px; */
    margin-top: 4rem;
    margin-bottom: 2.15rem;
}

.features-list li {
    max-width: 270px;
    padding: 0 24px;
    text-align: center;
}

.features-list-item-circle {
    margin: 0 auto 27px auto;

    width: 87px;
    height: 87px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

.features-list-item-monitor {
    background: transparent url(Monitor.svg) center center no-repeat;
}

.features-list-item-settings {
    background: transparent url(Settings.svg) center center no-repeat;
}

.features-list-item-like {
    background: transparent url(Like.svg) center center no-repeat;
}

.features-list-item-phone {
    background: transparent url(Phone.svg) center center no-repeat;
}

.features-list li h3 {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #1a1a1a;
}

#features {
    /* padding: 59px 0 39px 0;  */
    padding: 4.5% 0 2.8% 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

/* ------------------- */
/* about section */
/* ------------------- */

.about-beautiful {
    /* padding: 65px 0 14px 0; */
    padding: 4.2rem 0 1rem 0;
    background-color: #fff;
}

#about h2::after {
    text-align: left;
    padding-top: 0.3rem;
}

.about-customize {
    /* padding: 31px 0 14px 0; */
    padding: 2rem 0 1rem 0;
    background-color: #f2f2f2;
}

.about-beautiful-flex,
.about-customize-flex {
    display: flex;
}

.about-beautiful-img {
    flex-basis: 50%;
    /* padding-left: 20px; */
    padding-left: 2%;
}

.about-beautiful-content {
    flex-basis: 50%;
    /* padding: 48px 83px 0 14px; */
    padding: 3rem 5.2rem 0 0.875rem;
}

.about-customize-img {
    flex-basis: 50%;
}

.about-customize-content {
    flex-basis: 50%;
    /* padding: 93px 0 0 0; */
    padding: 6rem 0 0 0;
}

.about-beautiful-content h2,
.about-customize-content h2 {
    text-align: left;
}

.about-beautiful-content p,
.about-customize-content p {
    padding-top: 0.7rem;
    
}

.about-beautiful-list {
    /* padding-top: 29px; */
    padding-top: 1.8rem;
}

.about-beautiful-list li {
    /* padding: 0 0 0 27px; */
    /* padding: 0 0 0 1.7rem; */

    font-size: 1.125rem;
    line-height: 2;
    font-weight: 400;
    color: #1b1b1b;
}

.about-beautiful-list-item-cup::before {
    content: "";
    display : inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: transparent url(Cup.svg) 50% 0 no-repeat;
}

.about-beautiful-list-item-mouse::before {
    content: "";
    display : inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: transparent url(Mouse.svg) 50% 0  no-repeat;
}

.about-beautiful-list-item-energy::before {
    content: "";
    display : inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: transparent url(Energy.svg) 50% 0 no-repeat;
}

.about-beautiful-list-item-speedometer::before {
    content: "";
    display : inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: transparent url(Speedometer.svg) 50% 0 no-repeat;
}

/* ------------------- */
/* testimonials */
/* ------------------- */
#testimonials {
    background-color: #15141a;
}

#testimonials h2 {
    color: #fff;
}

.testimonials-background-wrapper {
    /* padding: 60px 0 206px 0; */
    padding: 3.75rem 0 13.5rem 0;
    background: #40392D url(Warstwa_8.png) 0% 14% no-repeat;
    background-size: cover;  
}

blockquote p {
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
}

.quote {
    display: flex;
    align-items: center;
    font-style: normal;
}

.quote .name {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #ffffff;
}

.quote .job {
    font-size: 0.875rem;
    line-height: 1.86;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.testimonials-list {
    display: flex;
    
    /* margin-top: 65px; */
    margin-top: 4.5rem;
}

.testimonials-list li {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 177px; */
    min-height: 11rem;
}

.testimonials-list li:nth-child(odd) {
    /* padding-right: 10px; */
    padding-right: 0.625rem;
}

.testimonials-list li:nth-child(even) {
    /* padding-left: 10px; */
    padding-left: 0.625rem;
}

.testimonials-list img {
    margin-right: 1.5rem;
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.testimonials-block {
    background-color: #15141a;
}

.testimonials-block h3 {
    margin-right: auto;

    font-size: 2.25rem;
    line-height: 1.33;
    font-weight: 300;
    color: #ffffff;
}

.testimonials-block h3 span {
    font-weight: 600;
}

.testimonials-flex {
    display: flex;
    align-items: center;
    min-height: 10.5rem;
}

/* ------------------- */
/* pricing */
/* ------------------- */

#pricing {
    /* padding: 53px 0 60px 0; */
    padding: 4% 0 4% 0;
    background-color: #fff;
}

.pricing-list {
    display: flex;
    justify-content: space-between;

    /* margin-top: 49px; */
    margin-top: 3.3rem;
}

.pricing-list li {
    /* max-width: 265px; */
    max-width: 17rem;
    text-align: center;
    border: 1px solid #e0e0e0;
}

/* hover */
.pricing-list li:hover h3 {
    color: #008ed6;
}

.pricing-list li:hover .price {
    background-color: #008ed6; 
}

.pricing-list li:hover .price .price-number,
.pricing-list li:hover .price .price-number sup,
.pricing-list li:hover .price-duration {
    color: #fff;
}

.pricing-list li:hover .price-content a {
    color: #fff;
    background-color: #008ed6;
}

/* end hover */

.pricing-list li h3 {
    /* min-height: 69px;
    line-height: 69px; */
    min-height: 4.3rem;
    line-height: 4.3rem;

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #1a1a1a;
    border-bottom: 1px solid #e0e0e0;
}

.pricing-list li .price {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* min-height: 147px; */
    min-height: 9.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.pricing-list li .price .price-number {
    font-size: 4rem;
    font-weight: 600;
    color: #1a1a1a;
}


.pricing-list li .price .price-number sup {
    font-size: 1.75rem;
    font-weight: 600;
    color: #1a1a1a;
}

.pricing-list li .price-duration {
    font-size: 1.1rem;
    font-weight: 400;
    color: #999999;
}

.pricing-list li .price-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* min-height: 262px;
    padding: 43px 31px 26px 31px; */
    min-height: 17rem;
    padding: 17% 15% 10% 15%;
}

.pricing-list li .price-content a {
    font-size: 1.125rem;
    font-weight: 600;
    color: #008ed6;
    text-transform: uppercase;
    padding: 14px 28px;
    cursor: pointer;

    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: transparent;
}


/* ------------------- */
/* contact us */
/* ------------------- */

#contact-us {
    position: relative;
    background-color: #ededed;
    /* padding: 54px 0 0 0; */
    padding: 4% 0 0 0;
}

#contact-us h2::after {
    padding-top: 0.6rem;
}

.contact-us-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* margin-top: 13px;
    margin-bottom: 350px; */
    margin: 1.5% 7.5% 30% 7.5%;
}

.contact-us-list li {
    /* min-width: 200px; */
    min-width: 20%;
    text-align: center;
}

.contact-us-list-item-phone,
.contact-us-list-item-pointer,
.contact-us-list-item-envelop {
    margin: 0 auto;
    /* width: 85px;
    height: 85px; */
    width: 5rem;
    height: 5rem;
}

.contact-us-list-item-phone {
    background: transparent url(Phone.svg) center center no-repeat;
}

.contact-us-list-item-pointer {
    background: transparent url(Pointer.svg) center center no-repeat;
}

.contact-us-list-item-envelop {
    background: transparent url(Envelope.svg) center center no-repeat;
}

form {
    position: absolute;
    /* bottom: 300px;
    left: 22px; */
    bottom: 19rem;
    left: 0;
    right: 0;
    margin: auto;

    /* width: 751px;
    padding: 59px 82px 37px 62px; */
    width: 53%;
    /* padding: 59px 82px 37px 62px; */
    padding: 4% 6% 3% 4%;
    background-color: #15141a;
}

form input[type="text"],
form input[type="email"],
form textarea {
    /* padding: 17px 15px; */
    padding: 1rem 0.9rem;
    background-color: #15141a;
    border: 1px solid #444348;
    border-radius: 3px;

    font-size: 0.875rem;
    font-weight: 700;
    color: #444348;
}

.form-inputs {
    display: flex;
    width: 100%;
    /* min-height: 187px;
    margin-bottom: 19px; */
    min-height: 12rem;
    margin-bottom: 1.1rem;
}

.form-inputs-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-basis: 50%;
    /* padding-right: 10px; */
    padding-right: 1%;
}

.form-inputs-left input {
    /* min-height: 51px; */
    min-height: 3.2rem;
}

.form-inputs-right {
    flex-basis: 50%;
    /* padding-left: 10px; */
    padding-left: 2%;
}

.form-inputs-right textarea {
    width: 100%;
    height: 100%;
}

button[type="submit"] {
    float: right;
    /* min-height: 47px;
    line-height: 47px; */
    min-height: 3rem;
    line-height: 3rem;

    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #008ed6;
    border: none;
    cursor:pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .form-img {
      width: 100%;
      /* min-height: 367px; */
      min-height: 24.5rem;
      background: #40392D url(Warstwa_15.png) 50% 24% no-repeat;
  }

/* ------------------- */
/* footer */
/* ------------------- */
.main-footer {
    background-color: #15141a;
    text-align: center;
    /* padding: 53px 0 39px 0; */
    padding: 4% 0 3% 0;
}

.social-links {
    display: flex;
    justify-content: center;

    /* margin-bottom: 20px; */
    margin-bottom: 1.25rem;
}

.social-links li+li {
    /* margin-left: 28px; */
    margin-left: 2.1rem;
}

.main-footer span {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #444348;
}