.home {
  &-background-wrapper {
    background: $background-dark url(images/wrappers/123.png) center no-repeat;
    background-size: cover;  
  }

  &-container {
    display: flex;
    flex-direction: column;

    @include mq-medium-up {
      flex-direction: row;
    }
  }

  &-content-wrapper {
    flex-basis: 100%;
    padding: 6.0625rem 0 3rem;

    p {
      margin-bottom: 4rem;
      padding-top: 1.2rem;
    }

    @include mq-medium {
      flex-basis: 100%;
    }

    @include mq-medium-up {
      padding: 13.5% 8% 9.5% 0;
    }

    @include mq-large-up {
      flex-basis: 50%;
      // padding-left: 8%;
      // padding: 13.5% 0 9.5% 0;
    }
  }

  &-img-wrapper {
    display: none;

    @include mq-large-up {
      display: block;
      position: relative;
      flex-basis: 50%;

      img {
        position: absolute;
        bottom: 0;
        right: -13px;
        
        display: block;
        width: 505px;
      }
    }
  }
}
