@mixin font($size, $color, $weight, $line-height: null, $font-family: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  font-family: $font-family;
}